@import url('https://fonts.googleapis.com/css?family=Montserrat|Lato|Open+Sans|Roboto+Mono&display=swap');

h1, h2, h3, h4 { font-family: 'Montserrat', serif, sans-serif; }
code, pre { font-family: 'Roboto Mono', monospace; }
input, label{ font-family: 'Lato', serif, sans-serif; }
p, a, span, div, button{ font-family: 'Open Sans', 'Montserrat', Verdana, serif, sans-serif; }

.close {
    color: #ff1111;
    cursor: pointer;
}

.close:hover{
    color: darkred;
    cursor: pointer;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    max-width: auto;
    justify-content: space-evenly;
    min-height: 500px;
}

.card-container > .card {
    display: flex;
    flex: 0 0 auto;
    max-height: 200px;
    max-width: 300px;
}

.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .card:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  
  .card:hover::after {
      opacity: 1;
  }

  /* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; opacity: 0\9; /* IE9 only */ } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; opacity: 0\9; /* IE9 only */ } to { opacity:0; } }
@keyframes fadeOut { from { opacity: 1; opacity: 0\9; } to { opacity:0;} }

.fade-out {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeOut ease-in 1;
    animation:fadeOut ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.4s;
    -moz-animation-duration:0.4s;
    animation-duration:0.4s;
}

#messageDiv{
    position: fixed;
    min-width: 20%;
    max-width: 80%;
    top: 2%;
    margin: 0 auto;
    z-index: 5;
}
