<!DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Site-->
    <title>Basics &middot; Lists</title>
    <link rel="shortcut icon" type="image/png" href="../favicon.png"/>

    <!--Bootstrap-->
    <link rel="stylesheet" href="../css/bootsrap.min.css" />

    <!--Custom Styles-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <!--Vuejs-->
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

    <div id="app">
        <h1>Colors!</h1>
        <ul>Primary:
            <li 
            v-for="each in colors"
            v-if="each.primary">
            {{each.text}}
            </li>
        </ul>
        <ul> Non-Primary
            <li 
            v-for="each in colors"
            v-if="!each.primary">
            {{each.text}}
            </li>
        </ul>
    </div>
    
    <!-- <script src="../js/main.js"> -->
    <script>

    var app = new Vue({
    el: '#app',
        data: {
            colors: [
                {
                    text: 'red',
                    primary: true
                },
                {
                    text: 'green',
                    primary: false                    
                },
                {
                    text: 'blue',
                    primary: true
                },
                {
                    text: 'yellow',
                    primary: true
                },
                {
                    text: 'orange',
                    primary: false
                }
            ] 
        }
    });

    </script>
</body>
</html>